#main_div {
    margin-left: 30px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

img {
    border: 2px solid black;
}

red {
    font-weight: bolder;
    color: red;
}

blue {
    font-weight: bolder;
    color: blue;
}

green {
    font-weight: bolder;
    color: green;
}
